.Designer{
    margin-top: 40px;
}
.Designer > span{
    width: 15px;
    height: 15px;
    margin: 15px auto;
    display: block;
    background: rgb(230, 36, 36);
    border-radius: 50%;
    position: relative;
    // margin: 15px 0;
}
.Designer > span::before{
    background: black;
    position: absolute;
    content: '';
    width: 120px;
    height: 3px;
    // left: 690px;
    // left: 30px;
    left: -130px;
    top:6px;
}
.Designer > span::after{
    background: black;
    position: absolute;
    content: '';
    width: 120px;
    height: 3px;
    right: -130px;
    top:6px;

}
.Designer > ul{
    width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;


}
.Designer > ul li{
    cursor: pointer;
    transition: .5s;
}
.Designer > ul li::after{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #111;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.Designer > ul li:last-child::after{
    width: 0px;
    height: 0px;
}
.Designer > ul li:hover{
    color: red;
}
.Des-items{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    section{
        width: 270px;
        margin-top:20px ;
        position: relative;
        transition: .5s;
        &:hover{
            box-shadow: 0 0 10px #333;
            p{
                opacity: 1;
            }
        }
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        p{
            position: absolute;
            // background: rgba($color: #000000, $alpha: 0.3);
            top:20px;
            color: white;
            width: 200px;
            // margin: 0 auto;
            left:calc(50% - 100px);
            letter-spacing: 5px;
            opacity: 0;
            transition: .5s;
            

        }
        div{
            position: absolute;
            bottom: 0;
            width:270px;
            color: white;
            height: 80px;
            background: rgba($color: #000000, $alpha: 0.3);
            h3{
                font-size: 23px;
                margin: 0;
                color: white;
                
            }
            h5{
                font-size: 14px;
                margin: 0;
                color: white;
            }
        }
    }
}